
#column-body {
    margin-top: 5%;
    padding-bottom: 5%;
}

#toDo,
#inProgress,
#done {
    min-height: 500px;
}

#addToDoTileButton button,
#addInProgressTileButton button,
#addDoneTileButton button
{
    position: relative;
    width: 50%;
    left: 25%;

}

.card{
    margin-bottom: 5%;
}